.page-wrapper.compact-wrapper .page-body-wrapper header.main-nav .sidebar-user {
    padding: 10px !important;
}

.page-main-header .main-header-right .nav-right .chat-dropdown {
    right: 3px !important;
    width: fit-content;
}

.fa-globe.font18 {
    display: inline-block;
    margin-bottom: -4px;
}

img.bilen-logo {
    max-width: 85% !important;
    height: auto;
    width: 4.5rem;
}
.common-payment-button:last-child {
    padding-right: 0 !important;
}
.common-payment-button:first-child {
    padding-left: 0 !important;
    margin-left: 3px;
}
.color-bilenium{
    color: #0E5B90 !important;
}
.dashboard-default-sec .card .card-header.pls, .dashboard-default-sec .card .card-body, .dashboard-default-sec .card .card-footer{
    padding: 0 9px 20px !important;
}
.bg-d9{
    background-color: #69788c !important;
}
.bg-556{
    background-color: #556273 !important;
}
.orderItemCancel > .btn.btn-danger{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 45px;
}
td.bg-556{
    font-size: 0.8rem;
    padding-top: 0px;
    padding-bottom: 0px;
}
.font18 {
    font-size: 17px;
}

.world-div {
    padding-top: 3px;
}

i#sidebar-toggle {
    font-weight: 600;
    font-size: 1.2rem;
    color: #24695c;
}

.font13 {
    font-size: 13px;
}

.custom-scrollbar > li > a > span {
    font-size: .875rem;
    display: inline-block;
    margin-left: 0.5rem;
}

.svg-sidebar {
    width: 1.3rem;
    height: 1.3rem;
}

.language-svg {
    width: 1.3rem;
}

.flexit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.waiter-buttons {
    display: block;
    flex: 0 0 15%;
    width: 15%;
    margin: 5px;
}

div.waiter-buttons > a.btn.py-2 {
    min-height: 10rem;
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    padding-top: 1.5rem !important;
}
.modal-title{
    width: 100%;
}

.borderit{
    border: 1px solid #ebebeb;
    padding: .5rem .2rem .2rem .5rem;
}

.quantity-input{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn-qt {
    display: block;
    width: 8.2%;
    border: 1px solid lightgray;
    padding: 0.4rem 0.1rem 0.1rem 0.5rem;
}
/* set width of logo as the minimum of 100px & 100vw */
.logo-img {
    width: min(50vw, 50px);
}

/*Category Scroll*/

div.categoryOrderList {
    min-height: 412px;
    overflow: hidden;
}

div.categoryOrderList:hover {
    overflow-y: scroll;
}

div.categoryOrderList::-webkit-scrollbar {
    width: 10px;
}

/* Track */
div.categoryOrderList::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    height: 5px;
}

/* Handle */
div.categoryOrderList::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 10px;
}

/* Handle on hover */
div.categoryOrderList::-webkit-scrollbar-thumb:hover {
    background: #59667a;
}

.bd-example-modal-lg {
    font-size: 1.3rem;
}

td.bg-info {
    font-size: 0.8rem;
    padding-top: 0px;
    padding-bottom: 0px;
}

div.categoryOrderList button {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

tfoot tr:first-child {
    border-top: 2px solid;
}

tfoot tr:nth-last-child(1) {
    border-bottom: 2px solid;
}

tfoot tr td {
    padding: 2px !important;
    font-weight: bold;
}

.orderItemCancel {
    border: 0px;
    padding: 0px !important;
    margin: 0px !important;
}

.orderItemCancel a {
    height: 100% !important;
    width: 100%;
}

.common-payment-button{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0.2rem 0.4rem;
    border-radius: 0.3rem;
    font-size: .875rem;
    text-transform: uppercase;
    width: 97%;
    cursor: pointer;
    font-weight: bold;
    min-height: 3.2rem;
}
a.payment-button {
    background: black;
    border: 1px solid black;
    color: white;
}
.cancel-order{
    background: #d92525;
    border: 1px solid #d92525;
    color: white;
}
.back-button{
    background: #f2b705;
    border: 1px solid #f2b705;
    color: white;
}
.get-bill{
    background: #00879f;
    border: 1px solid #00879f;
    color: white;
}
.call-kitchen{
    background: #ef7100;
    border: 1px solid #ef7100;
    color: white;
}
.close-table-button{
    background: #d92525;
    border: 1px solid #d92525;
    color: white;
}

.categoryBtn{
    padding-right: .2rem !important;
    padding-left: .2rem !important;
}
.page-main-header .main-header-right .main-header-left{
    padding: 0 40px !important;
}
.page-main-header .main-header-right .main-header-left{
    width: 205px !important;
}

.btn-gray1{
    background-color: #556273 !important;
    border-color: #556273 !important;
    color: whitesmoke;
}
.btn-gray1:hover{
    color: white;
}
.btn-gray2{
    background-color: #69788c !important;
    border-color: #69788c !important;
color: whitesmoke;
}
.btn-gray2:hover{
    color: white;
}
.btn-gray3{
    background-color: #8a99a6 !important;
    border-color: #8a99a6 !important;
    color: whitesmoke;
}
.btn-gray3:hover{
    color: white;
}
.btn-product{
    background-color: #8a8c87 !important;
    border-color: #8a8c87 !important;
    color: #fefefe;
}
.btn-product:hover{
    color: #fefefe;
}

.btn-last-order{
    background-color: #556273;
    border-color: #556273;
    color: white;
}

.btn-combine-table{
    background-color: #69788C;
    border-color: #69788C;
    color: white;
}
.top-ul{
    margin-left: 6rem;
}
@media only screen and (max-width: 1280px) {
    .waiter-buttons {
        flex: 0 0 15%;
        width: 15%;
    }

    div.waiter-buttons > a.btn > span.h5 {
        font-size: 2.4rem !important;
        font-weight: 600;
    }

    div.waiter-buttons > a.btn > span.font13 {
        font-size: 1rem !important;
    }
}


@media only screen and (max-width: 820px) {
    .waiter-buttons {
        flex: 0 0 23%;
        width: 23%;
    }
}

@media only screen and (max-width: 480px) {
    .waiter-buttons {
        flex: 0 0 22%;
        width: 22%;
        margin: 5px 3px;
    }

    .waiter-buttons > a.btn {
        padding: 0.3rem !important;
        min-height: 6rem !important;
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center !important;
        align-items: center !important;
    }

    div.waiter-buttons > a.btn > span.h5 {
        font-size: 1rem !important;
        font-weight: 600;
    }

    div.waiter-buttons > a.btn.py-2 {
        padding: 0.3rem !important;
        min-height: 6rem;
    }
    div.waiter-buttons > a.btn > span.font13 {
        font-size: 0.8rem !important;
    }
}